 <h1>How-To Guide on the BreweryDB API</h1>

<p>
  You can use the nav at the left to find your way through the guide. This guide is designed for anyone wanting to get started
  with interacting with API's and also happen to have an interest in beer. It will assume that you understand some basic
  concepts in handling HTTP requests and knowledge of JavaScript. Through this guide we will cover how to get an API key,
  Testing that API key, going over their nodejs library they offer, showing some endpoint data, and then also showing some
  sample data.
</p>

<p>
  The BreweryDB allows you to look up all different kinds of beer that are all around the world.
  You can lookup beers by style, location, brewery, and even ingredients. You can find more information about
  BreweryDB and their API at <a href="http://www.brewerydb.com/developers">http://www.brewerydb.com/developers</a>.
</p>
