<h1>Getting Started</h1>

<p>
  The first step to interacting with the BeweryDB API is to sign up. You'll need to go visit
  <a href="http://www.brewerydb.com/developers/apps">http://www.brewerydb.com/developers/apps</a> in order to
  register for an account to get your API key.
</p>

<img style="margin-bottom:10px;" width="50%" height="50%" src="/img/login.jpg" alt="" />

<p>
  Next, you will need to agree to their Terms of Service. There is no way to get around this and is quite common
  to agree to one in order to be allowed to utilized someone's API.
</p>

<img style="margin-bottom:10px; margin-right:auto;margin-left:auto;" width="50%" height="50%" src="\img\tos.jpg" alt="" />

<p>
  After agreeing, you'll need to register an app with them to generate the API Key.
</p>

<img src="\img\register.jpg" style="margin-bottom:10px; margin-right:auto;margin-left:auto;" width="65%" height="65%" alt="" />
<img src="\img\registerModal.jpg" style="margin-bottom:10px; margin-right:auto;margin-left:auto;" width="50%" height="50%" alt="" />
<p>
  At this point, you should be able to see your API key that has been generated. You'll need to keep this safe and not share item
  it with anyone. If someone gets your API key, they can do whatever they want with the service and you would be the one left liable.
</p>
<img src="\img\apiKey.jpg" style="margin-bottom:10px; margin-right:auto;margin-left:auto;" width="75%" height="75%" alt="" />
